[submodule "docs/云计算/Docker"]
	path = docs/云计算/Docker
	url = https://github.com/Bzm-docs/Docker.git
[submodule "docs/云计算/kubernetes"]
	path = docs/云计算/kubernetes
	url = https://github.com/Bzm-docs/kubernetes.git
[submodule "docs/后端/Java/shiro"]
	path = docs/后端/Java/shiro
	url = https://github.com/Bzm-docs/shiro.git
[submodule "docs/后端/Java/RabbitMQ"]
	path = docs/后端/Java/RabbitMQ
	url = https://github.com/Bzm-docs/RabbitMQ.git
[submodule "docs/运维/Mysql"]
	path = docs/运维/Mysql
	url = https://github.com/Bzm-docs/Mysql.git
[submodule "docs/后端/其他/Redis"]
	path = docs/后端/其他/Redis
	url = https://github.com/Bzm-docs/Redis.git
